#### Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm

# code to ignore warnings
import warnings
warnings.filterwarnings("ignore")

root_csv = '../csv files/'
root_pickle = '../pickle files/'

#### Reading Files

In [2]:
df_diab = pd.read_excel(root_pickle + 'Diab_County_Data_New.xlsx')

In [3]:
# Restricting to required columns
df_diab = df_diab[['State','County','CountyFIPS','Year','Tax_Type','Rate','Total Absolute','Total Percentage','Gender','Gender Absolute','Gender Percentage','Age','Age Diabetics Absolute','Age Diabetics Percentage','Notes_On_Tax_Rate']]

In [4]:
# Check for data type
df_diab.dtypes

State                        object
County                       object
CountyFIPS                    int64
Year                          int64
Tax_Type                     object
Rate                        float64
Total Absolute               object
Total Percentage             object
Gender                       object
Gender Absolute              object
Gender Percentage            object
Age                          object
Age Diabetics Absolute       object
Age Diabetics Percentage     object
Notes_On_Tax_Rate            object
dtype: object

In [5]:
# Converting data type
columns_to_convert = ['Total Absolute', 'Total Percentage', 'Gender Absolute', 'Gender Percentage', 'Age Diabetics Absolute', 'Age Diabetics Percentage']
for column in columns_to_convert:
    df_diab[column] = pd.to_numeric(df_diab[column], errors='coerce', downcast='float')

In [6]:
df_diab.head(5)

,State,County,CountyFIPS,Year,Tax_Type,Rate,Total Absolute,Total Percentage,Gender,Gender Absolute,Gender Percentage,Age,Age Diabetics Absolute,Age Diabetics Percentage,Notes_On_Tax_Rate
0,Alabama,Autauga County,1001,2004,Restaurant Tax,0.04,2470.0,7.5,Male,1189.0,7.6,20-44,472.0,2.900000,NaN
1,Alabama,Autauga County,1001,2004,Grocery Tax,0.04,2470.0,7.5,Male,1189.0,7.6,20-44,472.0,2.900000,NaN
2,Alabama,Autauga County,1001,2004,Restaurant Tax,0.04,2470.0,7.5,Male,1189.0,7.6,45-64,1179.0,10.300000,NaN
3,Alabama,Autauga County,1001,2004,Grocery Tax,0.04,2470.0,7.5,Male,1189.0,7.6,45-64,1179.0,10.300000,NaN
4,Alabama,Autauga County,1001,2004,Restaurant Tax,0.04,2470.0,7.5,Male,1189.0,7.6,65-beyond,819.0,16.299999,NaN

In [7]:
# Check for Null Values
df_diab.isna().sum()

State                            0
County                           0
CountyFIPS                       0
Year                             0
Tax_Type                         0
Rate                             0
Total Absolute                 312
Total Percentage                84
Gender                           0
Gender Absolute                762
Gender Percentage               84
Age                              0
Age Diabetics Absolute        6012
Age Diabetics Percentage        88
Notes_On_Tax_Rate           603702
dtype: int64

In [8]:
df_diab.dropna(subset={'Total Percentage','Total Absolute'},inplace=True)

In [9]:
# Pivot the Tax_Type column
df_diab_pivot = df_diab.pivot_table(index=['State', 'County', 'CountyFIPS', 'Year', 'Total Absolute','Total Percentage',
                                      'Gender', 'Gender Absolute', 'Gender Percentage','Age', 'Age Diabetics Absolute',
                                     'Age Diabetics Percentage'],
                           columns='Tax_Type', values='Rate', aggfunc='mean').reset_index()

# Rename the columns for clarity
df_diab_pivot.columns.name = None  # Remove the 'Tax_Type' label

df_diab_pivot.head(5)

,State,County,CountyFIPS,Year,Total Absolute,Total Percentage,Gender,Gender Absolute,Gender Percentage,Age,Age Diabetics Absolute,Age Diabetics Percentage,Grocery Tax,Restaurant Tax
0,Alabama,Autauga County,1001,2004,2470.0,7.5,Female,1281.0,7.4,20-44,472.0,2.900000,0.04,0.04
1,Alabama,Autauga County,1001,2004,2470.0,7.5,Female,1281.0,7.4,45-64,1179.0,10.300000,0.04,0.04
2,Alabama,Autauga County,1001,2004,2470.0,7.5,Female,1281.0,7.4,65-beyond,819.0,16.299999,0.04,0.04
3,Alabama,Autauga County,1001,2004,2470.0,7.5,Male,1189.0,7.6,20-44,472.0,2.900000,0.04,0.04
4,Alabama,Autauga County,1001,2004,2470.0,7.5,Male,1189.0,7.6,45-64,1179.0,10.300000,0.04,0.04

In [10]:
df_diab_pivot.isna().sum()

State                       0
County                      0
CountyFIPS                  0
Year                        0
Total Absolute              0
Total Percentage            0
Gender                      0
Gender Absolute             0
Gender Percentage           0
Age                         0
Age Diabetics Absolute      0
Age Diabetics Percentage    0
Grocery Tax                 0
Restaurant Tax              0
dtype: int64

#### Saving pickle files for unified diabetes dataset pivot

In [11]:
df_diab_pivot.to_pickle(root_pickle + 'Diabetes_Unified_Pivot.pkl')

In [12]:
df_diab_pivot = pd.read_pickle(root_pickle +'Diabetes_Unified_Pivot.pkl')
df_diab_pivot.head(5)

,State,County,CountyFIPS,Year,Total Absolute,Total Percentage,Gender,Gender Absolute,Gender Percentage,Age,Age Diabetics Absolute,Age Diabetics Percentage,Grocery Tax,Restaurant Tax
0,Alabama,Autauga County,1001,2004,2470.0,7.5,Female,1281.0,7.4,20-44,472.0,2.900000,0.04,0.04
1,Alabama,Autauga County,1001,2004,2470.0,7.5,Female,1281.0,7.4,45-64,1179.0,10.300000,0.04,0.04
2,Alabama,Autauga County,1001,2004,2470.0,7.5,Female,1281.0,7.4,65-beyond,819.0,16.299999,0.04,0.04
3,Alabama,Autauga County,1001,2004,2470.0,7.5,Male,1189.0,7.6,20-44,472.0,2.900000,0.04,0.04
4,Alabama,Autauga County,1001,2004,2470.0,7.5,Male,1189.0,7.6,45-64,1179.0,10.300000,0.04,0.04

#### Saving pickle file for total abolute and percentage

In [13]:
df_diab_total_pivot = df_diab_pivot[['State','County','CountyFIPS', 'Year', 'Total Absolute','Total Percentage','Grocery Tax','Restaurant Tax']]
df_diab_total_pivot.drop_duplicates(inplace=True)

In [14]:
df_diab_total_pivot['tax_delta'] = df_diab_total_pivot['Restaurant Tax'] - df_diab_total_pivot['Grocery Tax']

In [35]:
df_diab_total_pivot['Population'] = (df_diab_total_pivot['Total Absolute']*100) / df_diab_total_pivot['Total Percentage']

In [36]:
df_diab_total_pivot.to_pickle(root_pickle + 'Diabetes_Total_Pivot.pkl')

In [37]:
df_diab_total_pivot = pd.read_pickle(root_pickle +'Diabetes_Total_Pivot.pkl')
df_diab_total_pivot.head(5)

,State,County,CountyFIPS,Year,Total Absolute,Total Percentage,Grocery Tax,Restaurant Tax,tax_delta,Population
0,Alabama,Autauga County,1001,2004,2470.0,7.5,0.04,0.04,0.0,32933.333333
6,Alabama,Autauga County,1001,2005,3010.0,8.9,0.04,0.04,0.0,33820.226169
12,Alabama,Autauga County,1001,2006,3482.0,10.0,0.04,0.04,0.0,34820.000000
18,Alabama,Autauga County,1001,2007,3332.0,9.4,0.04,0.04,0.0,35446.809949
24,Alabama,Autauga County,1001,2008,3563.0,9.9,0.04,0.04,0.0,35989.900377

#### Saving pickle file for gender abolute and percentage

In [18]:
df_diab_gender_pivot = df_diab_pivot[['State','County','CountyFIPS', 'Year', 'Gender Absolute','Gender Percentage','Gender','Grocery Tax','Restaurant Tax']]
df_diab_gender_pivot.drop_duplicates(inplace=True)

In [19]:
df_diab_gender_pivot['tax_delta'] = df_diab_gender_pivot['Restaurant Tax'] - df_diab_gender_pivot['Grocery Tax']

In [29]:
df_diab_gender_pivot['Population'] = (df_diab_gender_pivot['Gender Absolute']*100) / df_diab_gender_pivot['Gender Percentage']

In [30]:
df_diab_gender_pivot.to_pickle(root_pickle + 'Diabetes_Gender_Pivot.pkl')

In [31]:
df_diab_gender_pivot = pd.read_pickle(root_pickle +'Diabetes_Gender_Pivot.pkl')
df_diab_gender_pivot.head(5)

,State,County,CountyFIPS,Year,Gender Absolute,Gender Percentage,Gender,Grocery Tax,Restaurant Tax,tax_delta,Population
0,Alabama,Autauga County,1001,2004,1281.0,7.4,Female,0.04,0.04,0.0,17310.810588
3,Alabama,Autauga County,1001,2004,1189.0,7.6,Male,0.04,0.04,0.0,15644.737038
6,Alabama,Autauga County,1001,2005,1523.0,8.6,Female,0.04,0.04,0.0,17709.301540
9,Alabama,Autauga County,1001,2005,1487.0,9.3,Male,0.04,0.04,0.0,15989.246984
12,Alabama,Autauga County,1001,2006,1758.0,9.7,Female,0.04,0.04,0.0,18123.711697

#### Saving pickle file for age abolute and percentage

In [23]:
df_diab_age_pivot = df_diab_pivot[['State','County','CountyFIPS', 'Year', 'Age Diabetics Absolute','Age Diabetics Percentage','Age','Grocery Tax','Restaurant Tax']]
df_diab_age_pivot.drop_duplicates(inplace=True)

In [24]:
df_diab_age_pivot['tax_delta'] = df_diab_age_pivot['Restaurant Tax'] - df_diab_age_pivot['Grocery Tax']

In [32]:
df_diab_age_pivot['Population'] = (df_diab_age_pivot['Age Diabetics Absolute']*100) / df_diab_age_pivot['Age Diabetics Percentage']

In [33]:
df_diab_age_pivot.to_pickle(root_pickle + 'Diabetes_Age_Pivot.pkl')

In [34]:
df_diab_age_pivot = pd.read_pickle(root_pickle +'Diabetes_Age_Pivot.pkl')
df_diab_age_pivot.head(5)

,State,County,CountyFIPS,Year,Age Diabetics Absolute,Age Diabetics Percentage,Age,Grocery Tax,Restaurant Tax,tax_delta,Population
0,Alabama,Autauga County,1001,2004,472.0,2.900000,20-44,0.04,0.04,0.0,16275.861534
1,Alabama,Autauga County,1001,2004,1179.0,10.300000,45-64,0.04,0.04,0.0,11446.601730
2,Alabama,Autauga County,1001,2004,819.0,16.299999,65-beyond,0.04,0.04,0.0,5024.540112
6,Alabama,Autauga County,1001,2005,582.0,3.500000,20-44,0.04,0.04,0.0,16628.571429
7,Alabama,Autauga County,1001,2005,1458.0,12.300000,45-64,0.04,0.04,0.0,11853.658353